.contact {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: start;
  position: relative;
}

.form_circle {
  width: 300px;
  height: 300px;
  background-color: var(--default_accent_color);
  position: absolute;
  border-radius: 30%;
  animation: blur 10s linear infinite, morph 8s ease-in-out infinite;
  scale: 0.8;
  box-shadow: 0px 10px 50px 0px rgba(179, 74, 232, 0.494);
  filter: url(#distort);
}

@keyframes blur {
  0% {
    filter: blur(0px);
    rotate: 150deg;
  }
  50% {
    filter: blur(0px);
    rotate: 360deg;
  }
  100% {
    filter: blur(0px);
    rotate: 150deg;
  }
}

@keyframes morph {
  0% {
    border-radius: 30% 50% 70% 50% / 50% 60% 40% 50%;
  }
  50% {
    border-radius: 50% 40% 60% 30% / 60% 40% 50% 70%;
  }
  100% {
    border-radius: 30% 50% 70% 50% / 50% 60% 40% 50%;
  }
}

.form {
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  backdrop-filter: blur(10px);
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  gap: 25px;
  width: 400px;
  background: linear-gradient(135deg, rgb(144, 30, 209), rgb(0, 0, 0));
  box-shadow: 0px 10px 100px 0px rgba(143, 30, 209, 0.294);
  border-radius: 25px;
  border: 1px rgba(255, 255, 255, 0.503) solid;
}

.form_input_container {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgba(52, 52, 52, 0.469);
  backdrop-filter: blur(20px);
  border: 1px rgba(255, 255, 255, 0.585) solid;
}

.form_input_container_clear {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_input_label {
  margin: 0;
  position: absolute;
  left: 20px;
  transition: 0.5s cubic-bezier(0.08, 0.82, 0.17, 1);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.form_input_label_hidden {
  margin: 0;
  color: rgba(102, 102, 102, 0);
  position: absolute;
  left: 65px;
  scale: 0.8;
  pointer-events: none;
  transition: 0.5s cubic-bezier(0.08, 0.82, 0.17, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.form_input {
  all: unset;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 15px 20px;
  box-sizing: border-box;
}

select.form_input {
  appearance: none;
  color: white;
  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 18px;
  padding-right: 40px;
  cursor: pointer;
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form_title {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_title_header {
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.476);
}

.form_title_paragraph {
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.547);
  font-weight: 5500;
  text-align: center;
}

.form_loading {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 5;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.405);
}

.form_loader {
  color: rgb(255, 255, 255);
  animation: loading 2s linear infinite, pulse 0.5s linear infinite;
}

@keyframes loading {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.contact_direct {
  width: 400px;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  gap: 25px;
  flex-direction: row;
  /* background: linear-gradient(220deg, rgba(0, 255, 30, 0.435), rgb(145, 247, 154)); */
  background-color: black;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  border: 1px rgba(255, 255, 255, 0.503) solid;
}

.contact_direct_title {
  text-align: center;
}

.contact_direct_paragraph {
  text-align: center;
}

.contact_mail {
  background-color: rgba(52, 52, 52, 0.469);
  border-radius: 20px;
  border: 1px rgba(255, 255, 255, 0.4) solid;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  gap: 10px;
}

.contact_mail_left {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_mail_right {
  flex: 1;
}

.mail_badge h2 {
  margin: 0;
}

.contact_mail_paragraph {
  display: flex;
  justify-content: start;
  color: rgb(172, 255, 172);
  gap: 10px;
  font-size: 13px;
  margin: 0;
  align-items: center;
}

.contact_mail_mailto {
  text-underline-offset: 5px;
  color: rgb(164, 229, 255);
}

@media only screen and (max-width: 1200px) {
  .contact {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 50px;
    position: relative;
  }

  .form {
    padding: 15px;
    width: 60%;
  }

  .contact_direct {
    width: 60%;
    padding: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .contact {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 50px;
    position: relative;
  }

  .form {
    padding: 15px;
    width: 75%;
  }

  .contact_direct {
    width: 75%;
    padding: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .contact {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 50px;
    position: relative;
  }

  .form {
    padding: 15px;
    width: 85%;
  }

  .contact_direct {
    width: 85%;
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 20px;
    position: relative;
  }

  .form {
    padding: 15px;
    width: 95%;
  }

  .contact_direct {
    width: 95%;

    padding: 20px;
  }
}
