.landing {
  width: 85%;
  aspect-ratio: 1/0.7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.landing_title {
  font-size: 60px;
  background: linear-gradient(135deg, #ffffff, rgb(203, 72, 255));
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  filter: drop-shadow(rgba(227, 116, 255, 0.2) 0px 0px 20px);
}

.landing_subtitle {
  font-size: 20px;
  margin: 0;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  color: rgb(237, 199, 255);
}

.landing_description {
  width: 60%;
  text-align: center;
}

.landing_badges_container {
  width: 90%;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  padding: 10px 0px;
  border-top: 1px rgba(255, 255, 255, 0.093) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.132) solid;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
}

.landing_badges {
  padding: 0px 15px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
  animation: move 30s linear infinite;
}

.landing_badge {
  flex-shrink: 0;
  width: fit-content;
  padding: 5px 20px;
  background-clip: padding-box;
  border-radius: var(--default_border_radius);
  background-color: rgb(13, 13, 13);
  color: rgb(244, 208, 255);
  border: 1px rgba(255, 255, 255, 0.374) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.laptop {
  position: absolute;
  left: -50px;
  top: 150px;
}

.smartphone {
  position: absolute;
  right: -50px;
  top: 250px;
}

@keyframes move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.landing_buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 40px 20px;
  gap: 50px;
}

.lading_scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.landing_scroll_p {
  margin: 0;
  color: rgba(255, 255, 255, 0.389);
}

@media only screen and (max-width: 870px) {
  .landing {
    width: 100%;
  }

  .landing_title {
    font-size: 40px;
  }

  .landing_subtitle {
    font-size: 15px;
    width: 80%;
    gap: 5px;
  }

  .landing_description {
    width: 80%;
    padding: 10px;
    z-index: 2;
  }

  .landing_badges {
    padding: 0px 10px;
    font-size: 15px;
    gap: 20px;
  }

  .landing_buttons {
    padding: 40px 20px;
    gap: 40px;
  }

  .laptop {
    position: absolute;
    left: -70px;
    top: 150px;
  }

  .smartphone {
    position: absolute;
    right: -50px;
    top: 120px;
  }
}

@media only screen and (max-width: 735px) {
  .landing_buttons {
    padding: 40px 20px;
    flex-direction: column;
    gap: 40px;
  }

  .laptop {
    position: absolute;
    left: -70px;
    top: 150px;
  }

  .smartphone {
    position: absolute;
    right: -50px;
    top: 50px;
  }
}
